DJANGO_DEBUG=False
DJANGO_SECRET_KEY=aaaaa 
DJANGO_SUPERUSER=ina
DJANGO_SUPERPASS=ina
DBNAME=blog
DBUSER=sitedbuser
DBPASS=sitedbpass
DBPORT=5432
NGINX_HOST=0.0.0.0
NGINX_PORT=8888
DJANGO_ALLOWED_HOSTS=["localhost", "0.0.0.0", "127.0.0.1"]
DJANGO_STATIC_URL=ina_static/

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=NOONE@gmail.com
EMAIL_HOST_PASSWORD=NOONESPASS
EMAIL_RECIPIENT_LIST=["NOONE@gmail.com"]
