NGINX_HOST=0.0.0.0
NGINX_PORT=8888
UNIQ_SUFFIX=max
STATIC_URL=max_static
# contact me form
EMAIL_RECIPIENT_LIST=NOONE@gmail.com,
# For contact me form to work make sure you have proper app credentials and token in
# files/credentials.json and files/token.pickle.
# To specify other files use EMAIL_CREDENTIALS_FILE and EMAIL_TOKEN_FILE vars
EMAIL_CREDENTIALS_FILE=../files/credentials.json
EMAIL_TOKEN_FILE=../files/token.pickle
