Django==1.8
pyquery==1.2.8
psycopg2==2.5.3
django-apptemplates
uwsgi
requests
django-markdown
# necessary for django-admin
sorl-thumbnail
git+git://github.com/fernflower/django-adminfiles.git#egg=django-adminfiles
pillow
