[default]
VIDEOS_FILE=common_static/files/videos.txt
VIDEOS_PER_BLOCK=9
STATIC_URL={{STATIC_URL}}
TEMPLATES_DIR=views
LOCALES_DIR=locale
DEFAULT_LOCALE=en

[mail]
EMAIL_HOST={{EMAIL_HOST}}
EMAIL_PORT={{EMAIL_PORT}}
EMAIL_HOST_USER={{EMAIL_HOST_USER}}
EMAIL_HOST_PASSWORD={{EMAIL_HOST_PASSWORD}}
EMAIL_RECIPIENT_LIST={{EMAIL_RECIPIENT_LIST}}
