# mysite_nginx.conf

upstream django {
    server unix:///django_steps/mysite/mysite.sock; 
}

# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    ~application/              max;
    ~image/                    max;
}

# configuration of the server
server {
    gzip on;
    gzip_disable "MSIE [1-6].(?!.*SV1)";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_min_length 1100;
    gzip_http_version 1.1;
    gzip_types
        text/plain
        text/css
        text/js
        text/xml
        text/javascript
        application/javascript
        application/x-javascript
        application/json
        application/xml
        application/rss+xml
        image/svg+xml;

    expires $expires;

    # the port your site will be served on
    listen      {{NGINX_PORT}};
    server_name {{NGINX_HOST}}; # substitute your machine's IP address or FQDN
    charset     utf-8;

    # max upload size
    client_max_body_size 75M;   # adjust to taste

    location /{{STATIC_URL}} {
        alias /django_steps/mysite/common_static/;
    }

    location / {
        uwsgi_pass unix:///django_steps/mysite/mysite.sock; 
        include uwsgi_params;
    }
}
