# A sample file for addintional settings configuration

# naming convention MY_SOME_PARAM_NAME means param already mentioned in
# settings.py, but for some reasons required not to be committed (ex.
# MY_DB_PASSWORD for DB_PASSWORD in settings.py);
# SOME_PARAM_NAME stands for a unique param for your app (ex. MEMBER_ALIASES)
MY_EMAIL_HOST_USER = "{{ EMAIL_HOST_USER }}"
MY_EMAIL_HOST_PASSWORD = "{{ EMAIL_HOST_PASSWORD }}"
MY_EMAIL_HOST = "{{ EMAIL_HOST }}"
MY_EMAIL_PORT = {{ EMAIL_PORT }}
MY_EMAIL_RECIPIENT_LIST = {{ EMAIL_RECIPIENT_LIST }}
# if you want to commit your main settings.py, then you should place secret_key
# here
MY_SECRET_KEY = "{{ DJANGO_SECRET_KEY }}"
MY_DB_NAME = "{{ DBNAME }}"
MY_DB_USER = "{{ DBUSER }}"
MY_DB_PASSWORD = "{{ DBPASS }}"
MY_DB_HOST = "{{ DBHOST }}"
MY_DB_PORT = {{ DBPORT }}
MY_ALLOWED_HOSTS = {{ DJANGO_ALLOWED_HOSTS }}
MY_DEBUG = {{ DJANGO_DEBUG }}
MY_STATIC_URL = "{{ DJANGO_STATIC_URL }}"
