[Unit]
Description=Fetch events from google calendar
Wants=fetchevents.timer

[Service]
ExecStart=/bin/bash -c "/home/ivasilev/projects/django_steps/.venv/bin/python /home/ivasilev/projects/django_steps/fetchevents.py \
                        --id jh57vhgp98orc9tcfm47osmnic@group.calendar.google.com \
                        --output /home/ivasilev/projects/django_steps/files/events.json"
WorkingDirectory=/home/ivasilev/projects/django_steps
User=ivasilev

[Install]
WantedBy=multi-user.target
