{% extends 'posts/blog_base.html' %}
{% load staticfiles %}
{% block header %}
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="#"><img class="img-circle" src="{{STATIC_URL}}drums.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Алексей</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#"><img class="img-circle" src="{{STATIC_URL}}kreda.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Группа Kreda</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#"><img class="img-circle" src="{{STATIC_URL}}violin.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Катажына</h2>
        </div><!-- /.col-lg-4 -->
      </div>
      <div class="row">
        <div class="col-lg-4">
          <a href="#"><img class="img-circle" src="{{STATIC_URL}}double_bass.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Максим</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#"><img class="img-circle" src="{{STATIC_URL}}accordeon.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Александра</h2>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

{% endblock %}
{% block contacts %}
{% endblock %}
{% block content %}
{% endblock %}
