{% load staticfiles %}
{% load contacts_tags %}
{% load icons %}
<div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4 style='font-family: "Dingbats, sans-serif"'>Контакты</h4>
        {% for phone in contacts_main.phones %}
            <p>{% icon 'telephone' styles='padding-right:5px' %} {{ phone }}</p>
        {% endfor %}
        <p>{% icon 'email' styles='padding-right:5px' %} {% substitute_at {{contacts_main.email}} %}</p>
        <p>{% icon 'pencil' styles='padding-right:5px' %} <a href="{% url 'contacts:show_form' %}"> Отправить сообщение</a></p>
        <p><a href="{{ contacts_main.website }}"><img src="{{STATIC_URL}}vk1.png" width=20 height=20></img>{{contacts_main.website}}</a></p>
    </div>
    <div class="sidebar-module sidebar-module-inset">
        {% if contacts_friends %}<h4>Наши друзья</h4>{% endif %}
        {% for friend in contacts_friends %}
        <p>{% icon 'music' styles='padding-right:5px' %}{% if friend.website %}<a href="{{ friend.website }}"> {{friend.name}}</a></p>
            {% else %}{{ friend.name }}</p>
                {% if friend.phone %} <p>{% icon 'telephone' styles='padding-right:5px' %} {{ friend.phone }}</p> {% endif %}
                {% if friend.email %} <p>{% icon 'email' styles='padding-right:5px' %} {% substitute_at {{friend.email}} %} </p> {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div><!-- /.blog-sidebar -->
