{% extends 'posts/blog_base.html' %}
{% block content %}
<form class="form-horizontal" method="post">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend></legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_name">Как Вас зовут</label>  
  <div class="col-md-4">
      <input name="name" placeholder="John Malkovich" class="form-control input-md" required="" type="text" value={{form.name.value|default_if_none:""}}
></div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="id_phone">Номер телефона</label>  
  <div class="col-md-4">
      <input name="phone" placeholder="84951234567" class="form-control input-md" required="" pattern="[0-9]*" type="tel" maxlength=10 value={{form.phone.value|default_if_none:""}}>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_email">e-mail</label>  
  <div class="col-md-4 {% if form.email.errors %}form-group has-error{% endif %}">
      <input name="email" placeholder="john_malkovich@gmail.com" class="form-control input-md" required="" type="email" value="{{form.email.value|default_if_none:""}}">
      <span class="help-block">{{form.email.errors|striptags}}</span>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Сообщение</label>
  <div class="col-md-4">
      <textarea class="form-control" id="textarea" name="message">{{form.name.value|default_if_none:""}}</textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="captcha">Защитный код</label>
  <div class="col-md-4 {% if form.captcha.errors %}form-group has-error{% endif %}">
      {{form.captcha}}
      <a href="#void" class="captcha-refresh">Обновить</a>
      <span class="help-block">{{form.captcha.errors|striptags}}</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_button_send"></label>
  <div class="col-md-4">
    <button id="id_button_send" name="id_button_send" class="btn btn-primary">Send</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}
 
{% block nav-contacts %}
<a class="blog-nav-item active" href="{% url 'contacts:show_form' %}">Contact Us</a>
{% endblock %}
