{% extends 'posts/base_clean.html' %}

{% block header_img %}'{{STATIC_URL}}about.jpg'{% endblock %}

{% block heading %}
<h2>If complete and utter chaos was lightning,</h2>
<h4>then he'd be the sort to stand on a hilltop in a thunderstorm wearing wet copper armour and shouting 'All gods are bastards!' </h4>
<span class="meta">&copy "The Color of Magic" by Terry Pratchett</span>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-3"><img src="{{STATIC_URL}}about_author.jpg" class="img-circle" style="width: 50%; height: 50%"/></div>
    <div class="col-md-9">Hi there! My name is Ina and I'm a python developer. </div>
</div>
</div>
{% endblock %}
